<header>
  <div>
    <h1>Welcome {{username}}</h1>
    <form action='/logout' method='post'>
      <input type='submit' value='Logout' />
    </form>
  </div>
  <nav>
    <ul>
      <li><a href='/'>Home</a></li>
      <li><a href='/products'>Products</a></li>
      <li><a href='/products-test'>Products Test</a></li>
    </ul>
  </nav>
</header>