<h1>Login</h1>
<form action="/login" method="post">
  <label>
    <span>Username</span>
    <input type="text" name="username" value="" id="username">
  </label>
  <input type="submit" value="Login">
</form>