<% const online = usuarios.length > 0; %> 
<% if (online) { %> 
    <table>
        <tr style="color:rgb(37, 214, 37)">
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
        </tr>
        <% for(const usuario of usuarios) { %>
        <tr style="color:rgb(224, 33, 33)">
            <td>
                <%= usuario.nombre %> 
            </td>
            <td>
                <%= usuario.apellido %> 
            </td>
            <td>
                <%= usuario.edad %> 
            </td>
        </tr>
        <% }; %>
    </table>
    <% } else { %>
    <h3>Tranquilo parce, ya van a llegar</h3>
    <% } %>                       
    