<div class="w-100  text-center" style='background-color: rgba(14, 255, 14, 0.26);'>
    <form action="/form" method='post'>
        <div class="mb-3">
        <label for="formFile" class="form-label">NOMBRE</label>
        <input class="form-control border border-success" type="text"  name='nombre'>
        </div>
        <div class="mb-3">
        <label for="formFileMultiple" class="form-label">APELLIDO</label>
        <input class="form-control border border-success" type="text"  name='apellido'>
        </div>
        <div class="mb-3">
        <label for="formFileSm" class="form-label">EDAD</label>
        <input class="form-control border border-success" type="age" name='edad'>
        </div>
        <div class="col-auto align-bottom">
        <button type="submit" class="btn btn-success mb-5">CONFIRM IDENTITY</button>
        </div>         
    </form>
</div>
 